
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h4 style="color:red; text-align:center"> @ViewBag.Thongbao</h4>
<table align="center">
    <h3 style="text-align:center">ĐĂNG NHẬP</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Tên đăng nhật:</td>
            <td>
                @Html.TextBox("TenDN")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">  Mật khẩu:</td>
            <td>
                @Html.Password("Matkhau")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px; width:auto">
            <td></td>
            <td>
                <input type="Submit" value="Đăng nhập" class="btn-lg" />
               
            </td>

            
        </tr>
        
        <tr style="height:40px; width:auto">
            <td></td>
            
            <td>
                <a href="/Nguoidung/DangNhapFB" class="btn btn-facebook"><i class="fa fa-facebook">Login with FaceBook</i></a>
            </td>
        </tr>
    }
</table>

