@model Webbansach.Models.SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div>
    <h4>THÔNG TIN CHI TIẾT SẢN PHẨM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tensach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giaban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giaban)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("SỬA", "Edit", new { id = Model.Masach }) |
    @Html.ActionLink("TRỞ VỀ", "Index")
</p>
